body{
	
	background-color:white;
}
.counter2{
	display:inline-block;
	border:1px solid black;
}
.counter1{
	margin :20px;
	border:15px solid blue;
	padding:50px;
	background-color:lightblue;
	width:300px;
	
	
}